/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.mainContainer {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1280px) {
  .mainContainer {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}


/* header ********************/


.header {
  background-color: rgb(37, 37, 141);
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.logo{
  padding: 0;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu{
  display: flex;
  justify-content: space-between;
  max-width: auto;
}

.header ul{
  display: flex;
  color: white;
  text-decoration: none;
  margin: 0;
}

.header ul ol{
  padding: 0 0 0 30px;
}

.header ul ol a{
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* foreword ********************/

.foreword {
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('../public/img/header-img.jpg');
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.forewordContent{
  margin: 0 auto;
  padding: 140px 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.forewordContent h1{
  margin: 20px 0;
  font-weight: 900;
  font-size: 70px;
}

.forewordContent p{
    font-weight: 600;
    font-size: 20px;
}

/* museum box ********************/

.museumBox {
  color: black;
  height: 200px;
  background-color: rgb(157, 135, 255);
  display: flex;
  align-items: center;
}

